<h2>Fruit!</h2>

<table>
  <tr>
    <th>Fruit</th>
    <th>Quantity</th>
    <th>Secret?</th>
  </tr>
  <%= for fruit <- @fruits do %>
  <tr>
    <td><%= fruit.name %></td>
    <td><%= fruit.quantity %></td>
    <td><%= fruit.secret %> </td>
  </tr>
  <% end %>
</table>